.pageContainer {
  background-color: #f4f7f4;
  padding: 20px;
}

.profileCard {
  background-color: #a1c8a1;
  color: #333333;
  border-radius: 8px;
}

.profileImage {
  width: 120px;
  height: 120px;
  object-fit: cover;
}

.artistName {
  color: #333333;
  font-weight: bold;
}

.addPostButton {
  background-color: #4d4d4d;
  border: 1px solid #ffffff;
  color: #ffffff;
  transition: background-color 0.3s ease, border-color 0.3s ease, color 0.3s ease;
}

.addPostButton:hover {
  background-color: #a1c8a1;
  border: 1px solid #a1c8a1;
  color: #333333;
}

.createdPostsHeading {
  color: #333333;
  font-size: 2rem;
  margin-top: 30px;
}

.postCard {
  margin: 10px;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
}

.postCard:hover {
  transform: translateY(-10px);
}

.editProfileButton {
  width: 200px;
  text-align: center;
  margin-top: 10px;
}

.cardButton {
  background-color: #4d4d4d;
  border: 1px solid #ffffff;
  color: #ffffff;
  transition: background-color 0.3s ease, border-color 0.3s ease;
  width: 200px;
  text-align: center;
}

.cardButton:hover {
  background-color: #a1c8a1;
  border: 1px solid #a1c8a1;
  color: #333333;
}
